main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

.full_width {
  width: 100%;
}

.home-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: center;
  max-width: 59.375rem;
}

.project__grid_item {
  width: 18.75rem;
  height: 13.125rem;
}

.project_image {
  width: 100%;
  height: 100%;
}

.project__3_col_med {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 25px;
}

.things_above__2_col_lar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.things_above__grid_item {
  max-height: 275px;
}

.things_above__img {
  width: 100%;
  height: 100%;
}

.worked_with {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.worked_with__img {
  width: 170px;
  height: 120px;
}

.home_footer {
  display: grid;
  justify-content: center;
}

.background-color--navy {
  background-color: #16242f;
}

.font-color--white {
  color: white;
}

.home_footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.home_footer__bio h3 {
  font-size: 11.14px;
}

.home_footer__bio p {
  font-size: 9.42px;
}

.home_footer__col {
  font-size: 7.68px;
}

.home_footer__col h2 {
  font-size: 12.85px;
}

