:root {
  --slider-grey: #ebebeb;
  --text-grey: #4d4d4d;
  --text-highlighted: #1eafde;
  --nav-green: #25c389;
  --nav-yellow: #ffb901;
  --nav-red: #de6262;
  --nav-blue: #1691bd;
  --nav-navy-blue: #166ba2;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

main {
  margin: 0;
  background-color: white;
  display: grid;
  grid-template: 
  "a" 90px
  "b" 400px
  "c" 200px
  "d" 500px
  "e" 500px
  "f" auto
  "g" auto
  "h" auto
  "i" auto
  ;
}

/* Top Navigation Bar */
.page__header {
  display: flex;
  justify-content: space-around;
  grid-area: a;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.header__logo > img {
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

.header__nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
}

.header__nav_selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: white;
  text-align: left;
  width: 100px;
  height: 90px;
}

.header__nav_selection > img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.header__nav_selection > h3 {
  width: 75%;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: 0;
}

.header__nav_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: white;
  text-align: left;
  width: 100px;
  height: 90px;
}

.header__nav_menu > img {
  width: 70px;
  height: 70px;
}

#home {
  background-color: var(--nav-green);
}

#pages {
  background-color: var(--nav-yellow);
}

#blog {
  background-color: var(--nav-red);
}

#portfolio {
  background-color: var(--nav-blue);
}

#home2 {
  background-color: var(--nav-navy-blue);
}

/* Main Image Slider */
.page__img_slider {
  background-color: var(--slider-grey);
  display: flex;
  justify-content: center;
  grid-area: b;
}

.page__img_slider > img{
  width: 900px;
}

/* Large Message in the Middle */
.page__main_msg {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: c;
}

.page__main_msg > h1 {
  font-size: 35px;
  margin: 0;
}

.main_msg_line {
  align-self: center;
  display: flex;
  margin: 0;
}

.highlight {
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
  color: var(--text-highlighted);
}

/* "Things that we do" Section */
.page__ttwd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: d;
}

.ttwd_header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ttwd_header > h1, h6 {
  margin: 5px;
}

.ttwd_header > h6 {
  color: var(--text-grey);
}

.ttwd_item_row {
  display: flex;
}

.ttwd_item_section {
  display: flex;
}

.ttwd_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  width: 190px;
}

.ttwd_item_text > p {
  font-size: 12px;
}

.ttwd_item > img {
  width: 80px;
  height: 80px;
}

.ttwd_item_text {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* "What's Up Lately?" Section */
.page__wul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: e;
}

.wul_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.wul_header > h1, h6 {
  margin: 5px;
}

.wul_header > h6 {
  color: var(--text-grey);
}

.wul_item_row {
  display: flex;
}

.wul_item_section {
  display: flex;
  justify-content: center;
}

.wul_item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 230px;
}

.wul_item_img {
  width: 280px;
  height: 180px;
}

.wul_item_date {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-red);
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
  top: -180px;
  left: 0;
  width: 60px;
}

.wul_item_date > h3 {
  margin: 0;
  font-size: 20px;
}

.wul_item_date > p {
  margin: 0;
  font-size: 13px;
}

.wul_item_footer {
  display: flex;
  background-color: var(--nav-blue);
  align-items: center;
  position: relative;
  top: -60px;
}

.wul_item_footer_text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.wul_item_footer_text > h3 {
  margin: 0;
  font-size: 16px;
}

.wul_item_footer_text > p {
  margin: 0;
  font-size: 12px;
}

.wul_item_footer img {
  margin-left: 35px;
  width: 40px;
  height: 40px;
}

.project {
  grid-area: f;
  margin: 3.75rem 0rem 0rem 0rem;
}

.things_above {
  grid-area: g;
  margin: 3.75rem 0rem 0rem 0rem;
}

.worked_with {
  grid-area: h;
  margin: 0rem 0rem 3.75rem 0rem;
}

.home-footer {
  grid-area: i;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

.full_width {
  width: 100%;
}

.home__sub_header {
  margin: 0.938rem 0rem 3.5rem 0rem;
  color: #a3a3a3;
}

.home-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: center;
}

.project__container {
  max-width: 59.375rem;
  display: grid;
  justify-content: center;
}

.font-align--center {
  text-align: center;
}

.project__grid_item {
  width: 18.75rem;
  height: 13.125rem;
  position: relative;
}

.project_overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay_background {
  background-color: rgba();
}

.project_image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 210px;
}

.project__grid_item:hover .project_overlay {
  opacity: .75;
}

.project__3_col_med {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 1.563rem;
}

.things_above__container {
  max-width: 59.375rem;
  display: grid;
  justify-content: center;
}

.things_above__2_col_lar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.563rem;
}

.things_above__grid_item {
  max-height: 17.188rem;
}

.things_above__img {
  width: 100%;
  height: 100%;
}

.worked_with {
  display: grid;
  margin: 2.5rem;
}

.worked_with__container {
  max-width: 59.375rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.563rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.worked_with__img {
  width: 10.625rem;
  height: 7.5rem;
}

.home_footer {
  display: grid;
  justify-content: center;
}

.home_footer__container {
  max-width: 59.375rem;
}

.home_footer__bio {
  display: flex;
  margin: 1.563rem 0rem 3.75rem 0rem;
  position: relative;
}

.home_footer__bio::after {
  content: '';
  height: 0.125rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #168db7 0%,#168db7 7%,#374550 5%,#374550 5%,#374550 100%);
}

.home_footer__desc {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.25rem 0rem 1.25rem;
}

.peewee_image {
  width: 3.125rem;
  height: 3.125rem;
}

.home_footer__col h2 {
  padding: 0rem 0rem .75rem 0rem;
}

.home_footer__about_us {
  border-bottom: 0.125rem solid #21c183;
  position: relative;
  margin-bottom: 1.875rem;
}

.home_footer__about_us::after {
  content: " ";
  display: block;
  position: absolute;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #21c183;
}

.home_footer__flickr{
  border-bottom: 2px solid #f8ba0d;
  position: relative; 
}

.home_footer__flickr::after {
  content: " ";
  display: block;
  position: absolute;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f8ba0d;
}

.flickr_img-container__row {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
}

.home_footer__twitter {
  border-bottom: 2px solid #de6262;
  position: relative; 
}

.home_footer__twitter::after {
  content: " ";
  display: block;
  position: absolute;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #de6262;
}

.twitter_row {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.twitter_row img {
  padding-top: 15px;
  margin-right: 20px;
}

.home_footer__twitter_feed {
  margin-top: 18px;
}

.home_footer__newsletter {
  border-bottom: 2px solid #1bade6;
  position: relative; 
  margin-bottom: 25px;
}

.home_footer__newsletter::after {
  content: " ";
  display: block;
  position: absolute;
  left: 1rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #1bade6;
}

.background-color--navy {
  background-color: #16242f;
}

.font-color--white {
  color: white;
}

.home_footer__social_media{
  display: flex;
  flex-direction: row;
}

.social_media_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.home_footer__facebook_icon{
  background-color: #527cc4;
}

.home_footer__google_icon{
  background-color: #e46145;
}

.home_footer__twitter_icon{
  background-color: #00b0e2;
}

.home_footer__instagram_icon{
  background-color: #f6679c;
}

.home_footer__wifi_icon{
  background-color: #fea501;
}

.home_footer__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 60px;
}

.home_footer__bio h3 {
  font-size: 11.14px;
}

.home_footer__bio p {
  font-size: 10.42px;
  line-height: 1rem;
  font-style: italic;
}

.home_footer__col {
  font-size: 8.68px;
  line-height: 1rem;
}

.home_footer_about_desc {
  padding-bottom: 20px;
}

.home_footer__col h2 {
  font-size: 12.85px;
  line-height: 1rem;
}

.newsletter__text {
  margin-bottom: 20px;
}

.home_footer__signup {
  display: flex;
  flex-direction: row;
}

.home_footer__signup input {
  width: 80%;
  background-color: #de6262;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding-left: 8px;
}

.home_footer__signup i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb901;
  height: 35px;
  width: 35px;
}

.home_footer__color_flare {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.colour_flare--green {
  width: 76px;
  height: 25px;
  background-color: #80ffd0;
}

.colour_flare--yellow {
  width: 76px;
  height: 25px;
  background-color: #ffb901;
}

.colour_flare--red {
  width: 76px;
  height: 25px;
  background-color: #de6262;
}

.colour_flare--light_blue {
  width: 76px;
  height: 25px;
  background-color: #1691bd;
}

.colour_flare--blue {
  width: 76px;
  height: 25px;
  background-color: #166ba2;
}

/* Site Tablet Version */
@media only screen and (max-width: 820px){
  main {
    display: grid;
    grid-template: 
    "a" 90px
    "b" 0
    "c" 200px
    "d" 700px
    "e" 500px
    "f" auto
    "g" auto
    "h" auto
    "i" auto
    ;
  }

  .header__logo {
    padding-left: 60px;
  }

  .header__nav_bar {
    padding-right: 60px;
  }

  .page__img_slider > img {
    display: none;
  }

  .ttwd_item_row {
    display: flex;
    flex-direction: column;
  }

  .wul_item_row {
    display: flex;
    flex-direction: column;
  }

  #wul_item_extended {
    flex-direction: row;
    position: relative;
    left: 40px;
  }

  #wul_item_img_extended {
    height: 230px;
  }

  #wul_item_date_extended {
    position: relative;
    padding: 10px;
    top: 0px;
    left: -280px;
    width: 60px;
    height: 40px;
  }

  #wul_item_footer_extended {
    position: relative;
    top: 0px;
    left: -80px;
    width: 300px;
    justify-content: center;
    align-items: flex-end;
  }

  #wul_item_footer_extended img {
    margin-left: 35px;
    margin-bottom: 6px;
    width: 40px;
    height: 40px;
  }
  .project__container {
    margin-top: 50px;
  }

  .project__3_col_med {
    grid-template-columns: repeat(2, 1fr);
  }

  .things_above__2_col_lar {
    grid-template-columns: repeat(1, 1fr);
    max-width: 625px;
  }

  .things_above__grid_item {
    width: 39.063rem;
  }

  .worked_with__img {
    width: 6.625rem;
    height: 4.688rem;
  }

  .home_footer__container {
    max-width: 37.5rem;
  }

  .home_footer__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .home_footer__bio {
    margin: 50px 0px 25px 0px;
  }

  .flickr_img-container__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .twitter_row p {
    padding-top: 7px
  }

}

/* Site Mobile Version */
@media only screen and (max-width: 428px){
  main {
    display: grid;
    grid-template: 
    "a" 90px
    "b" auto
    "c" 500px
    "d" 1000px
    "e" 1600px
    "f" auto
    "g" auto
    "h" auto
    "i" auto
    ;
  }

  .header__logo {
    padding-top: 40px;
  }

  .header__logo > h1 {
    font-size: 65px;
  }

  .header__nav_selection {
    display: none;
  }

  .header__nav_menu {
    display: flex;
    padding-top: 40px;
  }

  .header__nav_menu > img {
    width: 80px;
    height: 80px;
  }

  .page__main_msg > h1{
    font-size: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .main_msg_line {
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
  }

  .main_msg_line > h1 {
    font-size: 60px;
    margin: 0;
  }

  .ttwd_item_row {
    flex-direction: column;
  }

  .ttwd_item_section {
    flex-direction: column;
  }

  .ttwd_header > h1 {
    font-size: 50px;
  }

  .ttwd_header > h6 {
    font-size: 20px;
  }

  .ttwd_item {
    flex-direction: row;
    width: 600px;
  }

  .ttwd_item > img {
    width: 120px;
    height: 120px;
  }

  .ttwd_item_text {
    margin-left: 20px;
    text-align: left;
  }

  .ttwd_item_text > h3 {
    font-size: 30px;
  }

  .ttwd_item_text > p {
    font-size: 18px;
  }

  .wul_header > h1 {
    font-size: 50px;
  }

  .wul_header > h6 {
    font-size: 20px;
  }

  .wul_item {
    width: 600px;
    margin: 100px;
  }

  .wul_item_section {
    flex-direction: column;
  }

  #wul_item_extended {
    flex-direction: column;
    position: relative;
    width: 600px;
    left: 0;
  }

  .wul_item_img {
    width: 600px;
    height: 300px;
  }

  #wul_item_img_extended {
    height: 300px;
    width: 600px;
  }

  #wul_item_date_extended {
    position: relative;
    top: -300px;
    left: 0px;
    width: 120px;
    height: 100px;
  }

  .wul_item_date {
    position: relative;
    top: -300px;
    left: 0;
    width: 120px;
    height: 100px;
  }

  .wul_item_date > h3 {
    font-size: 50px;
  }

  .wul_item_date > p {
    font-size: 20px;
  }

  #wul_item_footer_extended {
    position: relative;
    top: -100px;
    left: 0px;
    width: 600px;
    align-items: center;
    justify-content: space-between;
  }

  .wul_item_footer {
    top: -100px
  }

  #wul_item_footer_extended img {
    margin-right: 35px;
    margin-bottom: 0;
    width: 60px;
    height: 60px;
  }

  .wul_item_footer img {
    margin-left: 70px;
    width: 60px;
    height: 60px;
  }

  .wul_item_footer_text > h3{
    font-size: 40px;
  }

  .wul_item_footer_text > p{
    font-size: 20px;
  }

  .project__3_col_med {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
  }

  .project__grid_item {
    width: 25rem;
    height: 17.813rem;
  }

  .project_image {
    max-height: 285px;
  }

  .things_above {
    display: none;
  }

  .worked_with {
    display: none;
  }

  .home__footer {
    max-width: 414px;
  }

  .peewee_image {
    width: 190px;
    height: 190px;
  }

  .home_footer__desc {
    margin: 0rem 1.25rem 0rem 1.25rem;
  }

  .home_footer__container {
    max-width: 25rem;
  }

  .home_footer__bio {
    padding-bottom: 45px;
  }

  .home_footer__row {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 100px;
  }

  .home_footer__social_media {
    display: flex;
    justify-content: center;
  }

  .home_footer__about_us {
    display: none;
  }

  .home_footer_about_desc {
    display: none;
  }

  .home_footer__col:nth-child(2) {
    display: none;
  }

  .newsletter_column {
    display: none;
  }

  .home_footer__color_flare {
    justify-content: center;
    align-content: center;
  }

}